{% extends "base.html.twig" %}

{% block title %} FestasRS - Início {% endblock %}

{% block body %}
    {{ include('navigation.html.twig', { 'navigation': navigation }) }}
    <div class="container">
        <h3>Bem vindos</h3>
    </div>
{% endblock %}

